*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
header{
    width: 1100px;
    height: 38.91px;
    margin-top: 30px;
    display: flex; 
    justify-content: space-between;
}
.navbar{
    width: 550px;
    height: 22px;
    display: flex;
    justify-content: space-evenly;
}
.dropdown_menu{
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    left: 0;
    top: 100%;
    width: max-content;
    height: min-content;
    z-index: 10;
}
.menu:hover .dropdown_menu{
    display: block;
}
.menu{
    position: relative;
}
.menu a{
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 16px;
}
.menu a:hover{
    color: blue;
}
.dropdown_menu li{
    padding: 15px 15px;
    font-weight: 700;
    transition: 0.6s;
}
.dropdown_menu li:hover{
    color: #007aff;
    padding-left: 5px;
}
.menu a img{
    width: 10.5px;
    height: 10px;
}
.menu:hover  a img{
    rotate: 90deg;
}
#header_right{
    width: 357.41px;
    height: 38.91px;
    display: flex;
    justify-content: end;
    align-items: end;
}
#header_right_container{
    width: 268.36px;
    height: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header_right_container li{   
    display: flex;
    flex-wrap: wrap;
}
#header_right_container span{
    line-height: 30px;
    font-size: 18px;
}
#header_right_container div{
    display: flex;
    align-items: center;
    gap: 5px;
} 
#header_hover:hover #header_hover_text{
    z-index: 9;
    display: flex;
}
#header_hover_text{
    background-color: #333;
    color: aliceblue;
    display: none;
    position: absolute;
    left: 0;
    bottom: -100%;
}
#home_highlight{
    width: 1100px;
    height: 385px;
    background: linear-gradient(to right, gray, white  );
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
#highlight_img_container{
    width: 542.5px;
    height: 385px;
    position: relative;
    overflow: hidden;
}
#highlight_img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.black{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#highlight_img_container:hover .black{
    display: flex;
    opacity: 0.5;
}
.span_b{
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#highlight_img_container:hover .span_b{
    display: flex;
}
#home_title{
    width: 502.5px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
}
#highlight_img_container:hover #highlight_img{
    transform: scale(1.2);
}
#home_title div1{
    width: 66.3px;
    height: 30px;
    background: linear-gradient(129deg,#c40097,#d6710b);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 8px 15px;
    transition: 0.2s;
}
#reaction_emoji{
    width: 65px;
    height: 36px;
    background-color: #f0efef;
    border-radius: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5px;
    transition: 1s;
}
#reaction_emoji:hover {
    padding: 3px 5px;
    border: 1px solid;
}
#reaction_emoji:hover img{
    rotate: 45deg;
}
#home_title div1:hover{
   width: 80px;
}
.home_card{
    width: 263.75px;
    height: 285px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.home_container{
    width: 100%;
    height: 175px;
    overflow: hidden;
    position: relative
}
#home_img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.home_container:hover .black{
    display: block;
    opacity: 0.5;
}
.home_container:hover  .span_b{
    display: flex;
}
.home_container:hover #home_img{
    transform: scale(1.3);
}
#home_text{
    width: 100%;
    height: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
}
#story_container{
    width: 1100px;
    height: 235px;
    display: flex;
    justify-content: space-between;
}
#story_card{
    width: 170.8px;
    height: 235px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
#story_img{
    width: 100%;
    height: 100%;
    transition: 0.7s;
}
#scroll_text{ 
    position: absolute;
    bottom: 15%;
    left: 5%;
    width: 150.8px;
    height: 37px;
    font-size: 13px;
    color: #ffff;
    line-height: 17px;
    overflow: hidden;
}
#story_card:hover #scroll_text{
    height: min-content;
}
#home_card_icon{
    color: #ffff;
    font-size: 13px;
    width: 150.8px;
    height: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 5%;
}
#story_card:hover #story_img{
    transform: scale(1.3);
}
#interview_bottom{
    width: 1100px;
    height: 500px;
    display: flex;
}
#interview_img_container{
    width: 542px;
    height: 500px;
    background-color: #333;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
#interview_img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
#interview_text_container{
    width: 482.5px;
    height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 6.5%;
    bottom: 6.5%;
}
#interview_text_box{
    width: 104px;
    height: 16px;
    background-color: #407ce8;
    font-size: 13px;
    font-weight: 700;
    border-radius: 3px;
    padding: 2px 5px;
    color: #ffff;
    text-align: center;
}
#interview_title{
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
}
#interview_end{
    width: 482.5px;
    height: 22px;
    font-weight: 700;
    color: #fff;
}
#interview_end + img{
    width: 20px;
    height: 20px;
}
#interview_img_container:hover #interview_end img{
    margin-left: 10px;
}
#interview_img_container:hover #interview_img{
    transform: scale(1.3);
}
#interview_img_container:hover #interview_text_box{
    opacity: 0.7;
}
#interview_img_container:hover #interview_title{
    opacity: 0.7;
}
#interview_card{
    width: 263.75px;
    height: 243px;
    background-color: #333;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
#scroll_text1{
    position: absolute;
    left: 0;
    bottom: -15%;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #fff;
    font-size: 13px;
    transition: 0.3s;
}
#interview_card:hover #scroll_text1{
    margin-bottom: 28px;
}
#interview_card:hover #story_img{
    transform: scale(1.3);
}
#ender{
    width: 1180px;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#ender_top{
    width: 1140px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#ender_bottom{
    width: 1140px;
    height: 21px;
    display: flex;
    justify-content: space-between;
}
#ender_top_right{
    width: 950px;
    height: 40px;
}
.ender_icon{
    width: 20px;
    height: 20px;
}
#ender_bottom_text{
    width: 530px;
    height: 21px;
}
#ender_bottom_img{
    width: 530px;
    height: 21px;
    display: flex;
    gap: 25px;
    justify-content: end;
}
.ender_icon2:hover{
    opacity: 1;
}
.ender_icon2{
    opacity: 0.4;
}
#footer_background{
    width: 1100px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#playbutton{
    width: 80px;
    height: 20px;
    display: flex;
    color: aliceblue;
}
#footer_top{
    width: 1100px;
    height: 323px;
    display: flex;
    justify-content: space-between;
}
#footer_card{
    width: 263px;
    height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer_img_container{
    width: 100%;
    height: 170px;
    background-color: #407ce8;
    position: relative;
    overflow: hidden;
}
#footer_img{
    width: 100%;
    height: 100%;
    transition: 0.7s;
}
#footer_card span{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: hsla(0,0%,100%,.8)
}
#footer_react{
    width: 263px;
    height: 22px;
    display: flex;
    gap: 30px;
    align-items: center;
}
#footer_card:hover .black{
    display: block;
    opacity: 0.5;
}
#footer_card:hover .span_b{
    display: flex;
}
#footer_card:hover #footer_img{
    transform: scale(1.3);
}
#footer_icon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
#playbutton:hover span{
    color: #407ce8;
}
#news_right{
    width: 690px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 20px;   
}
#news_left{
    width: 410px;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;  
}
#news_menu{
    width: 715px;
    height: 40px;
    display: flex;
    align-items: end;
    gap: 5px;
}
#date_box{
    width: 104px;
    height: 30px;
    text-align: center;
    transition: 0.8s;
}
#menu_hover{
    width: 104px;
    height: 7px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 15px;
    background-color: whitesmoke;
}
#date_box:hover{
    padding-bottom: 8px;
}
#date_box:hover #menu_hover{
    background-color: #407ce8;
}
#menu_container{
    width: 690px;
    height: 171px;
    display: flex;
    justify-content: space-between;
}
#menu_img_container{
    width: 210px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
#menu_text_container{
    width: 450px;
    height: 171px;    
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
#menu_img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
#menu_container:hover #menu_img{
    transform: scale(1.3);
}
#menu_img_container:hover .black{
    display: flex;
    opacity: 0.5;
}
#menu_img_container:hover .span_b{
    display: flex;
}
#menu_text{
    width: 450px;
    height: 22px;
}
#menu_text img{
    width: 15px;
    height: 15px;
}
#menu_text{
    display: flex;
    align-items: center;
    gap: 15px;
}
#menu_text span{
    display: flex;
    align-items: center;
    gap: 5px;
}
h3{
    font-size: 19px;
    line-height: 26px;
    font-weight: 700;
}
#menu_text_container p{
    color: #8888;
}
#vote{
    width: 690px;
    height: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #ffff;
    font-weight: 700;
    background-color: #407ce8;
}
#vote_hover{
    width: 650px;
    height: 182px;
    display: flex;
    flex-direction: column;
}
#vote_bar{
    width: 575px;
    height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-style: solid;
    position: relative;
    top: 0;
    left: 0;
    transition: .3s;
}
#vote_bar:hover{
    padding: 15px 10px;
}
#vote_bar:hover .black{
    display: flex;
    opacity: 0.5;
}
#news_right_card{
    width: 290px;
    height: 280px;   
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#calendar_container{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;    
}
#news_img{
    width: 100%;
    height: 170px;
    transition: 0.5s;
}
#news_card_container:hover .black{
    display: flex;
    opacity: 0.5;
}
#news_card_container{
    position: relative;
    overflow: hidden;
}
#news_card_container:hover:hover .span_b{
    display: flex;

}
#news_left span{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
#news_card_bottom{
    width: 290px;
    height: 22px;
  display: flex;
  align-items: center;
  gap: 30px;
}
#news_card_bottom img{
    width: 20px;
    height: 20px;
}
#news_card_bottom span{
    display: flex;
    align-items: center;
    gap: 5px;
}
#calendar_top{
    width: 340px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#calendar_top span{
    font-size: 20px;
    font-weight: 700;
}
#calendar_card{
    width: 270px;
    height: 91px;
    border-style: solid;
    transition: 0.2s;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 0.1px;
}
#calendar_text{
    width: 230px;
    height: 91px;
}
#calendar_text span{
    font-size: 14px;
}
#calendar_bottom{
    width: 230px;
    height: 20px;
    display: flex;
    gap: 30px;

}
#calendar_bottom img{
    width: 20px;
    height: 20px;
}
#calendar_bottom span{
    display: flex;
    align-items: center;
    gap: 5px;
}
#calendar_card:hover {
    padding: 8px;
    opacity: 0.4;
}
#news_card_container:hover #news_img{
    transform: scale(1.3);
}
li1{
    display: flex;
    align-items: center;
    gap: 5px;
}
#header_background{
    width: 1100px;
    height: 25.5px;
}
#slider_container{
    width: 1100px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}
#slide_card{
    width: 263.75px;
    height: 360px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#slide_img{
    width: 100%;
    height: 100%;
    transition: 0.7s;
}
#slider{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    opacity: 0.3;
}
#slider_bottom{
    width: 241.75px;
    height: 26px;
    display: flex;
    align-items: center;
    gap: 30px;
}
#slider_title{
    width: 241.75px;
    height: 72px;
}
#slide_img_container{
    position:relative;
    width: 263.75px;
    height: 230px;
    overflow: hidden;
}
#slide_img_container:hover .black{
    display: flex;
    opacity: 0.5;
}
#slide_img_container:hover  .span_b{
    display: flex;
}
#slide_img_container:hover #slide_img{
    transform: scale(1.3);
}
#slider_bottom img{
    width: 20px;
    height: 20px;
}
#slider_bottom span{
    display: flex;
    align-items: center;
    gap: 5px;
}
#header_background span{
    font-weight: 700;
}
#glass{
    position: relative;
}
#texter{
    width: 550px;
    height: 40px;
    border-style: solid;
    background-color: #fff;
    border-width: 0.1px;
    border-color: #007aff;
    z-index: 11;
    position: absolute;
    bottom: 20%;
    right: 150%;
    display: none; 
}
#glass:hover #texter{
    display: flex;
}
#texter span{
    display: flex;
    align-items: center;
    padding-left: 5px;
    opacity: 0.3;
}
#ex{
    display: none;
}
#glass:hover #ex{
    display: block;
}
#glass:hover img{
    display: none;
}